.DS_Store
*.DS_Store
*/.DS_Store
*.m~
Multivariate_signature_patterns/.DS_Store
.DS_Store
Atlases_and_parcellations/.DS_Store
Multivariate_signature_patterns/.DS_Store
*.asv
Multivariate_signature_patterns/.DS_Store
.DS_Store
Atlases_and_parcellations/.DS_Store
Atlases_and_parcellations/2018_CIT168_Reinf_Learn_v1.0.0/.DS_Store
CANlab_Meta_analysis_maps/.DS_Store
