# these cannot be distributed publically according to the Brainstem Navigator license 
BrainstemNavigator/**
bianciardi_fmriprep20_atlas_regions.hdr
bianciardi_fmriprep20_fine_atlas_regions.hdr
bianciardi_fmriprep20_hires_atlas_regions.hdr
bianciardi_fsl6_atlas_regions.hdr
bianciardi_fsl6_fine_atlas_regions.hdr
bianciardi_fsl6_hires_atlas_regions.hdr
bianciardi_fmriprep20_atlas_regions.img
bianciardi_fmriprep20_fine_atlas_regions.img
bianciardi_fmriprep20_hires_atlas_regions.img
bianciardi_fsl6_atlas_regions.img
bianciardi_fsl6_fine_atlas_regions.img
bianciardi_fsl6_hires_atlas_regions.img
bianciardi_fmriprep20_atlas_object.mat
bianciardi_fmriprep20_atlas_regions.mat
bianciardi_fmriprep20_fine_atlas_object.mat
bianciardi_fmriprep20_fine_atlas_regions.mat
bianciardi_fsl6_atlas_object.mat
bianciardi_fsl6_atlas_regions.mat
bianciardi_fsl6_fine_atlas_object.mat
bianciardi_fsl6_fine_atlas_regions.mat
